<p class="subheader">Category: <a class="danger label" href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>

<!--Tagged ad from gum theme index.html-->
{% if article.tags %}
    <span>Tagged as : </span>
    {% for tag in article.tags %}
        <a class="danger label" href="{{ SITEURL }}/{{ tag.url }}">{{ tag|e }}</a>
    {% endfor %}
    {% endif %}
                <!--Tagged ad from gum theme index.html-->
</p>

{% if PDF_PROCESSOR %}<p><a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">PDF</a></p>{% endif %}

{% import 'translations.html' as translations with context %}
{{ translations.translations_for(article) }}

